<?xml version='1.0'?>

<!--
Copyright (c) 2021
KELO Robotics GmbH

Author:
Sushant Chavan


This software is published under a dual-license: GNU Lesser General Public
License LGPL 2.1 and BSD license. The dual-license implies that users of this
code may choose which terms they prefer.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.
* Neither the name of Locomotec nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License LGPL as
published by the Free Software Foundation, either version 2.1 of the
License, or (at your option) any later version or the BSD license.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License LGPL and the BSD license for more details.

You should have received a copy of the GNU Lesser General Public
License LGPL and BSD license along with this program.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robile_platform_gazebo">

    <!-- Args are global and hence all included xacro files will also receive them 
    https://github.com/ros/xacro/issues/204#issuecomment-852096062 -->
    <xacro:arg name="platform_config" default="" />
    <xacro:arg name="movable_joints" default="true" />

    <!-- Include the xacro file to instantiate the robot -->
    <xacro:include filename="$(find robile_description)/robots/$(arg platform_config).urdf.xacro" />

    <xacro:if value="$(arg movable_joints)">
        <!-- Include the xacro file to start gazebo ros control plugin -->
        <xacro:include filename="$(find robile_description)/gazebo/gazebo_ros_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg movable_joints)">
        <!-- Include the xacro file to start gazebo ros planar move plugin -->
        <xacro:include filename="$(find robile_description)/gazebo/gazebo_ros_planar_move.xacro" />
    </xacro:unless>

    <!--Sensors-->

    <!-- base laser front -->
    <xacro:include filename="$(find robile_description)/urdf/sensors/hokuyo_urg04_laser.urdf.xacro"/>
    <xacro:hokuyo_urg04_laser name="base_laser_front" parent="base" ros_topic="scan" update_rate="10" min_angle="-1.57" max_angle="1.57">
    <origin xyz="0.45 0 0.22" rpy="0 0 0"/>
    </xacro:hokuyo_urg04_laser>

    <!-- add camera here -->


</robot>
